body {
  background: -webkit-gradient(linear, right top, left top, from(#e330e9), to(#0b6ae6));
  background: linear-gradient(to left, #e330e9, #0b6ae6);
  min-height: 100vh;
}

.container {
  position: relative;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .inner-img {
  position: relative;
  width: 80vw;
  height: 400px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.wrapper .inner-img img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper .inner-img .control-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 10px;
}

.wrapper .inner-img .control-blocks span {
  z-index: 99;
  width: 30px;
  height: 100%;
  background-color: #ccc;
  margin: 0 12px;
  border-radius: 2px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.wrapper .inner-img .control-blocks span.active {
  width: 50px;
  height: 100%;
  background-color: purple;
}

.wrapper .imageGallery {
  scroll-behavior: smooth;
  margin-top: 16px;
  height: 100px;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.wrapper .imageGallery img {
  width: 200px;
  height: 100%;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0.2;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.wrapper .imageGallery img.active {
  opacity: 1;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  z-index: 2;
}

.control {
  position: absolute;
  top: 40%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 3em;
  color: #fff;
}

.control i {
  cursor: pointer;
  padding: 10px;
  border-radius: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.control :hover {
  background-color: dimgray;
}

.control i.hide {
  opacity: 0;
  z-index: -99;
  mouse-events: none;
  cursor: unset;
  background-color: transparent;
}
/*# sourceMappingURL=style.css.map */
